<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home Page</h1>
    <a href="/login"><button>Login</button></a>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit molestiae aspernatur hic veritatis cumque obcaecati quas illum quasi cum, recusandae ex asperiores minima? Nam quia mollitia excepturi eveniet accusamus, consequuntur voluptatibus nulla dolore? Optio dolorem sapiente ipsum molestiae temporibus possimus suscipit porro vero voluptatibus facere tempore quis facilis ab iusto praesentium assumenda asperiores aliquam reprehenderit perspiciatis error accusantium, inventore aut soluta numquam! Obcaecati saepe facilis quod quos officia. Minus accusamus error aliquid maiores odit modi nisi vitae ducimus nam temporibus. Quidem esse exercitationem consectetur voluptatibus sapiente natus quae, optio nobis. Repellat in asperiores soluta laboriosam minus corporis et impedit. Minus.</p>
</body>
</html>