<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <h1>Login Here!</h1>
    <form>
        <input type="email" placeholder="Email" id="email">
        <input type="password" placeholder="Password" id="pass">
        <button type="submit" onclick="sendReq()" id="submit">LogIn</button>
    </form>
    <script>
        // $(()=>{
        //         $('#submit').click(async function(){
        //             var url = "/login"
        //             var email = $('#email').val()
        //             var pass = $('#pass').val()
        //             console.log(email,pass)
        //             await $.post(url, {email: email, pass: pass},
        //             (response) => {
        //                 if(!response){console.log("Not Response")}
        //                 else{
        //                     localStorage.setItem('authorization', response.token)
        //                     var token   = document.getElementById("authorization");
        //                     console.log(token)
        //                     console.log(response.message)
        //                 }
        //             });
        //         })
        //     })
        function sendReq(){
            axios({
                method: 'post',
                url: '/login',
                data: {
                    email: 'alex@gmail.com',
                    pass: '123123'
                }
            }).then(function (response) {
                response.json()
                console.log(response)
                window.localStorage.setItem('Authorization', 'Bearer '+response.token);
                window.location.replace("localhost:3000/dashboard")
        });
        }
    </script>
</body>
</html>